.options img {
    border-radius: 8px !important;
}
.options .card-body {
    border-radius: 0px 0 8px 8px;
}
.card {
    border: none;
}
a.custom-link:hover {
    text-decoration: none;
    font-style: none;
}
